extends ./include/layout.old.pug

//- mixin withName(num, name, date, loc)
//-     td(rowspan = num ) = name
//-     td.date = date
//-     td.location = loc
//- 
//- mixin noName(date, loc)
//-     td.date = date
//-     td.location = loc
    

block body
    div.no-image#container-header
        pre.header-text.text-center.no-image(style="position: static;").
            <strong>Exam Jam 2018</strong>
            
        div.container-groups
            div.container-courses
                table
                    - let prev = "none";
                    each row in rows
                        tr
                          if (row.className == prev)
                              td(rowspan = '#{row.numExamJams}' ) row.className
                              td.date #{row.date}
                              td.location #{row.location}
                              prev = row.className
                          else
                              td.date #{row.date}
                              td.location #{row.location}
                              prev = row.className
                        
    
                        
                        
    
