extends ./include/layout.pug

block body
    div#navBar
        ul.navLinks
            li#nav-image
                a(href=baseurl)
                    div.MAC_Logo
            li
                a(href=baseurl + "nexus") Live Help
            li
                a(href=baseurl + "resources") Resources
            li
                a(href=baseurl + "apply") Jobs
            li
                a(href=baseurl + "events") Events
            li
                a(href=baseurl + "team") The Team
            li
                a(href=baseurl + "press") Press
            li
                a(href=baseurl + "contact") Contact
        div.text-center.button-container
            a.btn.btn-primary.btn-er#btn-online(href=baseurl + "nexus") Get live help online
    img.full-image(src = "../img/Homepage.png")
    div.block.col-xs-12#description-container
        div.col-xs-5#paragraph-container
            p.body-header Your peers are
            p.body-header here to help.
            div(data-paragraph="1").data-paragraph
                p.body-text
                 |The MAC is located in Taylor Hall (UC B001) and offers tutoring
                 br
                 |and peer mentoring from fellow students to anyone in a
                 br
                 |mathematics course. Assistance with online homework and
                 br
                 |software projects is available as well.
            div(data-paragraph="2").data-paragraph
                p.body-text
                    |The MAC STAT is located in the library (UL 2135D) and caters
                    br
                    |specifically to statistics courses. It's the MAC as you know it, just
                    br
                    |for statistics.
            div
                button.btn.btn-primary.button-vod#btn-showreel(data-toggle="modal", data-target="#modal-video")
                    span.vod-span Watch our show reel
                    i.fa.fa-play-circle-o(aria-hidden="true")
            div
                button.btn.btn-primary.button-vod#btn-stat(data-toggle="modal", data-target="#modal-video")
                    span.vod-span Ten reasons to use the MAC Stat
                    i.fa.fa-play-circle-o(aria-hidden="true")
        img(src = "../img/body-image.png").col-xs-5

    div.col-xs-12.row#hours-container
        p.body-header.text-center We're ready when you are.
        div.col-xs-5#table-container
            table.table
                thead
                    tr
                        th.null
                        th.hours-index Walk-in
                        th.hours-index Online
                tbody
                    each row in rows
                        tr
                            td.form-label.hours-index #{row.day}
                            if (row.floorOpen != row.floorClose)
                                td.form-label.hours #{row.floorOpen}-#{row.floorClose}
                            -else
                                td.form-label.hours Closed
                            if ( row.onlineOpen != row.onlineClose)
                                td.form-label.hours #{row.onlineOpen}-#{row.onlineClose}
                            -else
                                td.form-label.hours Closed
        div.col-xs-4#calendar-container
            div#calendar
    div.col-xs-12#footer-container
        div.col-xs-11#footer-elements
            p.body-header
                |We have just what
                br
                |you needed.
            p.body-text
                |We made several class resources just for you. These
                br
                |resources include instructive shorts, class hand-outs,
                br
                |formula sheets, study guides, practice examinations
                br
                |and answer keys. They're designed to prepare you for
                br
                |mid-terms and final exams.
            a.btn.btn-primary.btn-er#btn-resources.col-xs-4(href = "http://math.iupui.edu/undergraduate/courses") Check 'em out
        img.full-image#footer-image(src = "../img/ladywriting.png")

    div.modal.fade#modal-video(tabindex="-1")
        div.modal-dialog.modal-lg
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal") &times;
                div.modal-body
                    iframe#iframe-video(width = '640', height= '390', frameborder='0', allowfullscreen='')
