extends ../../../../views/include/layout_university.pug

block header
    link(rel="icon", href=baseurl + "img/favicon.ico")

block navbar
    div#container-navbar
        ul.navbar-links
            li#navbar-logo
                a(href=baseurl)
                    div.logo-mac
            li
                a(href=baseurl + "exam-jam") Exam Jam 2018
            li
                a(href=baseurl + (useWizIQ ? "online" : "nexus")) Live Help
            li
                a(href=baseurl + "resources") Resources
            li
                a(href=baseurl + "apply") Apply
            li
                a(href=baseurl + "team") The Team
            li
                a(href=baseurl + "press") Press
            li
                a(href=baseurl + "contact") Contact

block body
    block body
    div#container-footer
        table
            tr
                td(colspan="4", style="text-align: left;")
                    a(href="/")
                        div.logo-mac.white
                td(rowspan="2", style="width: 100%; padding-top: 10%;")
                    a(target="_blank", href="https://facebook.com/MACatIUPUI")
                        img(src=baseurl + "img/logos/facebook.png", alt="Facebook")
                    a(target="_blank", href="https://twitter.com/MACatIUPUI")
                        img(src=baseurl + "img/logos/twitter.png", alt="Twitter")
            tr
                td(style="border-right: none; padding-left: 60px;")
                    ul.navbar-links-bottom
                        li
                            a(href=baseurl + (useWizIQ ? "online" : "nexus")) Live Help
                        li
                            a(href=baseurl + "resources") Resources
                        li
                            a(href=baseurl + "contact") Contact
                td(style="border-left: none; border-right: none;")
                    ul.navbar-links-bottom
                        li
                            a(href=baseurl + "apply") Jobs
                        li
                            a(href=baseurl + "team") The Team
                        li
                            a(href=baseurl + "press") Press
                td(style="width: 35%; border-left: none;")
                    ul.navbar-links-bottom-right
                        li
                            a(href="/track/index") Track Your Visits
                        li
                            a(href="/office/index", target="_blank") Employees
                        li
                            a(href="/files/MACFlyer2016.pdf", target="_blank") MAC Flyer
                td
                    pre.
                        MAC:
                        815 West Michigan Street
                        Room B01
                        Indianapolis, IN 46202

                        p: <a href="tel:3172747898">317-274-7898</a>
                //-
                    pre.
                        MAC STAT:
                        755 West Michigan Street
                        Room 2135D
                        Indianapolis, IN 46202

                        p: <a href="tel:3172747235">317-274-7235</a>
