extends ../../../../views/include/layout_university.pug

block header
    link(rel="icon", href=baseurl + "img/favicon.ico")

mixin mobileNavBar
    div#container-mobile-navbar
        nav.navbar.navbar-default#mobile-nav
            div.container-fluid#navbar-container
                div.navbar-header#navbar-header
                    a(href=baseurl)
                        div.mac-logo#navbar-mobile-logo
                    button.navbar-toggle.collapsed#navbar-button(type="button", data-toggle="collapse", data-target="#collapse-elements")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                        i.fa.fa-times.hidden(aria-hidden="true")
                    a.navbar-brand
                div.collapse.navbar-collapse#collapse-elements
                    ul.nav.navbar#navbar-list
                        li.navbar-element.text-center
                            a(href=baseurl + (useWizIQ ? "online" : "nexus")) Live Help
                        li.navbar-element.text-center
                            a(href=baseurl + "team") The Team
                        li.navbar-element.text-center
                            a(href=baseurl + "press") Press
                        li.navbar-element-small.text-center
                            a(href= baseurl + "contact") Contact
                        li.navbar-element-small.text-center
                            a(href=baseurl + "apply") Jobs
                        li.navbar-element-small.text-center
                            a.telephone-ref(href="tel:317-274-7898")  P: 317-274-7898
        block

mixin mobileFooter
    div#container-footer-mobile
        div#mobile-links-container
            div.social-media-mobile
                a(href="https://twitter.com/MACatIUPUI", target="_blank")
                    img.mac-twitter(src=baseurl + "img/logos/twitter.png")
                a(href="https://www.facebook.com/MACatIUPUI", target="_blank")
                    img.mac-facebook(src=baseurl + "img/logos/facebook.png")
            a(href=baseurl)
                div#footer-logo-mobile
        hr.mobile-break.col-xs-12
        table#mobile-footer-table
            tr
                div.text-center
                    a.btn.btn-primary.btn-er-mobile#btn-employee-mobile(href=baseurl + "office") Employee portal
                td.footer-column1
                    ul
                        li
                            a.list-text(href=baseurl + (useWizIQ ? "online" : "nexus")) Live Help
                        li
                            a.list-text(href=baseurl + "apply") Jobs
                td.footer-column2
                    ul
                        li
                            a.list-text(href=baseurl + "team") The Team
                        li
                            a.list-text(href=baseurl + "press") Press
                        li
                            a.list-text(href=baseurl + "contact") Contact
                td.footer-column3-mobile
                    ul
                        li
                            a.list-text(href="https://iupui.xroadsed.com/compass/analytics/landing", target="_blank") Track your visits
                        li
                            a.list-text(href=baseurl + "files/MACFlyer2016.pdf") Flyer 2016
        hr.mobile-break.col-xs-12
        a.telephone-ref.footer-telephone-mobile(href="tel:317-274-7898") P: (317) 274-7898
        p.list-text.address-mobile MAC:
            br
            |815 W. Michigan St. Room B01 Indianapolis, IN 46202
        a.telephone-ref.footer-telephone-mobile(href="tel:317-274-7898") P: (317) 274-7235
        p.list-text.address-mobile#stat-address-mobile MAC Stat:
            br
            |755 West Michigan Street Room 2135D Indianapolis, IN 46202



mixin desktopNavBar
    div#container-navbar-desktop
        ul.container-navlinks-desktop
            li#nav-image
                a(href=baseurl)
                    div.mac-logo
            li
                a(href=baseurl + (useWizIQ ? "online" : "nexus")) Live Help
            li
                a(href=baseurl + "apply") Jobs
            li
                a(href=baseurl + "team") The Team
            li
                a(href= baseurl + "contact") Contact
        block

mixin desktopFooter
    div#container-footer-desktop
        table
            tr
                td.row-image(colspan="3")
                    a(href=baseurl)
                        div#footer-logo
                td.container-socialMedia(colspan="2")
                    a.wrapper-facebook(href="https://www.facebook.com/MACatIUPUI", target="_blank")
                        img.mac-facebook(src=baseurl + "img/logos/facebook.png")
                    a.wrapper-twitter(href="https://twitter.com/MACatIUPUI", target="_blank")
                        img.mac-twitter(src=baseurl + "img/logos/twitter.png")
            tr
                td.footer-column1
                    ul.footer-column1-list
                        li
                            a.list-text(href=baseurl + (useWizIQ ? "online" : "nexus")) Live Help
                        li
                            a.list-text(href=baseurl + "apply") Jobs
                td.footer-column2
                    ul.footer-column2-list
                        li
                            a.list-text(href=baseurl + "team") The Team
                        li
                            a.list-text(href=baseurl + "contact") Contact
                        li
                            a.list-text(href=baseurl + "press") Press
                td.footer-column3.text-center
                    a.btn.btn-primary.btn-er#btn-employee(href=baseurl + "office") Employee portal
                    ul
                        li
                            a.list-text(href="https://iupui.xroadsed.com/compass/analytics/landing", target="_blank") Track your visits
                        li
                            a.list-text(href=baseurl + "files/MACFlyer2016.pdf") MAC Flyer 2016
                td.footer-column4.container-address
                    p.list-text.address
                        | MAC:
                        br
                        | 815 West Michigan Street
                        br
                        | Room B01
                        br
                        | Indianapolis, IN 46202
                        br
                        br
                        | p:
                        a.telephone-ref.footer-telephone-desktop(href="tel:317-274-7898")  317-274-7898
                td.footer-column4.container-address
                    p.list-text.address
                        | MAC Stat:
                        br
                        | 755 West Michigan Street
                        br
                        | Room 2135D
                        br
                        | Indianapolis, IN 46202
                        br
                        br
                        | p:
                        a.telephone-ref.footer-telephone-desktop(href="tel:317-274-7235")  317-274-7235
