extends ../../../../views/include/layout_university.pug

block header
    link(rel="icon", href=baseurl + "img/favicon.ico")

mixin navBar
    div#navBar
        ul.navLinks.black
            li#nav-image
                a(href=baseurl)
                    div.MAC_Logo
            li
                a(href=baseurl + "nexus") Live Help
            li
                a(href=baseurl + "resources") Resources
            li
                a(href=baseurl + "apply") Jobs
            li
                a(href=baseurl + "events") Events
            li
                a(href=baseurl + "team") The Team
            li
                a(href=baseurl + "press") Press
            li
                a(href= baseurl + "contact") Contact
        block

mixin footer
    div#footer
        table
            tr
                td.row-image(colspan="5")
                    a(href=baseurl)
                        div#footer-logo
            tr
                div
                    td.footer-column1
                        ul.footer-column1-list
                            li
                                a.list-text(href=baseurl + "nexus") Live Help
                            li
                                a.list-text(href=baseurl + "resources") Resources
                            li
                                a.list-text(href=baseurl + "apply") Jobs
                            li
                                a.list-text(href=baseurl + "events") Events
                    td.footer-column2
                        ul.footer-column2-list
                            li
                                a.list-text(href=baseurl + "team") The Team
                            li
                                a.list-text(href=baseurl + "press") Press
                            li
                                a.list-text(href=baseurl + "partners.php") Partners
                            li
                                a.list-text(href=baseurl + "contact") Contact
                td.footer-column3
                    a.btn.btn-primary.btn-er#btn-employee(href=baseurl + "office") Employee portal
                    ul
                        li
                            a.list-text.light(href="https://mac.iupui.edu/TutorTrac/macTracStudent.php") Track your visits
                        li
                            a.list-text.light(href) MAC Flyer 2016
                td.footer-column4
                    p.list-text.address-container.light
                        |815 West Michigan Street
                        br
                        |Room B01
                        br
                        |Indianapolis, IN 46202
                        br
                        br
                        |p:
                        a.telephone-ref.light(href="tel:317-274-7898")  317-274-7898
                    div.socialMedia
                        a(href="https://twitter.com/MACatIUPUI")
                            img.mac-twitter(src="../img/twitter.png")
                        a(href="https://www.facebook.com/MACatIUPUI")
                            img.mac-facebook(src="../img/facebook.png")
