extends ../../../../views/include/layout_university.pug

block navbar
    div#navBar
        ul.navLinks
            li#nav-image
                a(href=baseurl)
                    div.MAC_Logo
            li
                a(href=baseurl + "nexus") Live Help
            li
                a(href=baseurl + "resources") Resources
            li
                a(href=baseurl + "apply") Apply
            li
                a(href=baseurl + "events") Events
            li
                a(href=baseurl + "team") The Team
            li
                a(href=baseurl + "press") Press
            li
                a(href=baseurl + "contact") Contact
