+desktopNavBar()
    div.text-center.button-container
        a.btn.btn-primary.btn-er#btn-online(href=baseurl + "nexus") Get live help online
img.full-image(src = "../img/Homepage.png")
div.block.col-xs-12#description-container
    div.col-xs-5.col-xs-offset-1#paragraph-container
        p.body-header Your peers are here to help.
        div(data-paragraph="1").data-paragraph
            p.body-text The Mathematics Assistance Center (MAC) is a place for collaboration with peers on math assignments. Located in Taylor Hall, UC B001, the MAC offers tutoring and peer mentoring.
        div(data-paragraph="2").data-paragraph
            p.body-text The MAC is located in Taylor Hall (UC B001) and offers tutoring and peer mentoring from fellow students to anyone in a mathematics course. Assistance with online homework and software projects is available as well.
        div(data-paragraph="3").data-paragraph
            p.body-text The MAC STAT is located in the library (UL 2135D) and caters specifically to statistics courses. It's the MAC as you know it, just for statistics.
        div
            button.btn.btn-primary.button-vod#btn-showreel(data-toggle="modal", data-target="#modal-video")
                span.vod-span Watch our show reel
                i.fa.fa-play-circle-o(aria-hidden="true")
        div
            button.btn.btn-primary.button-vod#btn-stat(data-toggle="modal", data-target="#modal-video")
                span.vod-span Ten reasons to use the MAC Stat
                i.fa.fa-play-circle-o(aria-hidden="true")
    img.col-xs-5.col-xs-offset-1(src = "../img/body-image.png")#body-image
div.col-xs-12.row#hours-container
    p.body-header.text-center#calendar-label We're ready when you are.
    div.col-xs-4#table-container
        table.table#hours-table
            thead
                tr
                    th.null
                    th.hours-index Walk-in
                    th.hours-index Online
            tbody
                each row in rows
                    tr
                        td.form-label.hours-index #{row.day}
                        if (row.floorOpen != row.floorClose)
                            td.form-label.hours #{row.floorOpen}-#{row.floorClose}
                        -else
                            td.form-label.hours Closed
                        if ( row.onlineOpen != row.onlineClose)
                            td.form-label.hours #{row.onlineOpen}-#{row.onlineClose}
                        -else
                            td.form-label.hours Closed
    div.col-xs-4.col-xs-offset-1#calendar-container
        div.btn-group.row.col-xs-12
            button.btn.btn-primary(data-calendar-nav="prev")
                i.fa.fa-chevron-left
            div.col-xs-4.text-center#span-month
            button.btn.btn-primary(data-calendar-nav="next")
                i.fa.fa-chevron-right
        div#calendar
div.col-xs-12#resources-container
    div.col-xs-offset-1#resources-elements
        p.body-header We have just what you needed.
        p.body-text We made several class resources just for you. These resources include instructive shorts, class hand-outs, formula sheets, study guides, practice examinations and answer keys. They're designed to prepare you for mid-terms and final exams.
        a.btn.btn-primary.btn-er.col-xs-4#btn-resources(href = "http://math.iupui.edu/undergraduate/courses") Check 'em out
    img.full-image#footer-image(src = "../img/ladywriting.png")
    +desktopFooter()
div.modal.fade#modal-video(tabindex="-1")
    div.modal-dialog.modal-lg
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal") &times;
            div.modal-body
                iframe#iframe-video(width = '640', height= '390', frameborder='0', allowfullscreen='')
